<!-- <nav>
    <a class="navbar-brand" href="/home"><img
            src="https://res.cloudinary.com/ros4eva/image/upload/v1576318445/images_iii9fe.png"
            style="width: 116px; height: 26px;">
    </a>

    <div class="d-flex flex-row-reverse bd-highlight nav nav-tabs" id="navTools" role="tablist">
        <div class="p-2 bd-highlight nav-item " id="logoutAndAppInfo" role="tab">Flex item 1</div>
        <div class="p-2 bd-highlight nav-item" id="profileTab" role="tab">Flex item 2</div>
        <div class="p-2 bd-highlight navtt nav-item" role="tab">Flex item 3</div>
        <div class="p-2 bd-highlight navtt nav-item" role="tab">Flex item 4</div>
        <div class="p-2 bd-highlight navtt nav-item" role="tab">Flex item 5</div>
        <div class="p-2 bd-highlight navtt nav-item" role="tab">Flex item 6</div>
        <div class="p-2 bd-highlight nav-item" id="ttask">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                aria-selected="false" >Team Tasks</a>
        </div>
        <div class="p-2 bd-highlight nav-item" id="mtask">
            <a class="nav-link"  data-toggle="tab" id="home-tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true" >My Task</a>
        </div>
    </div>
</nav> -->
<!-- <nav>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
</nav> -->

<h1>Support Works</h1>